<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckListBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CheckListBox.Properties.Settings>
            <setting name="checkbox1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox23" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textbox1" serializeAs="String">
                <value />
            </setting>
            <setting name="label1" serializeAs="String">
                <value />
            </setting>
            <setting name="label2" serializeAs="String">
                <value />
            </setting>
            <setting name="label3" serializeAs="String">
                <value />
            </setting>
            <setting name="label4" serializeAs="String">
                <value />
            </setting>
            <setting name="label5" serializeAs="String">
                <value />
            </setting>
            <setting name="label6" serializeAs="String">
                <value />
            </setting>
            <setting name="checkbox25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkbox26" serializeAs="String">
                <value>False</value>
            </setting>
        </CheckListBox.Properties.Settings>
    </userSettings>
</configuration>